<section class="side_menu">
    <div class="aside shadow toggle_side">
      <header class="brand">
        <a href="/" class="text-decoration-none h3 w-100"
          >EasyPay</a
        >
      </header>
      <nav class="nav_menu mt-4">
        <a
          href="/admin/dashboard"
          class="menu_item text-decoration-none text-dark d-flex align-items-center gap-2 p-3 rounded active_nav"
          ><i class="fa-solid fa-house p-2 text-white rounded shadow"></i
          >Dashboard</a
        >
        <a
          href="/admin/employee"
          class="menu_item text-decoration-none text-dark d-flex align-items-center gap-2 p-3 rounded"
          ><i class="fa-solid fa-briefcase p-2 text-dark rounded shadow"></i
          >Employees</a
        >

        <a
          href="/admin/department"
          class="menu_item text-decoration-none text-dark d-flex align-items-center gap-2 p-3 rounded"
          ><i class="fa-solid fa-briefcase p-2 text-dark rounded shadow"></i
          >Departments</a
        >

        <a
          href="/admin/position"
          class="menu_item text-decoration-none text-dark d-flex align-items-center gap-2 p-3 rounded"
          ><i class="fa-solid fa-briefcase p-2 text-dark rounded shadow"></i
          >Positions</a
        >
        
        <a
          href="/admin/payroll"
          class="menu_item text-decoration-none text-dark d-flex align-items-center gap-2 p-3 rounded"
          ><i class="fa-solid fa-receipt p-2 text-dark rounded shadow"></i
          >Pay-roll</a
        >
        <span>Accounts</span>
        <a
          href="/admin/profile"
          class="menu_item text-decoration-none text-dark d-flex align-items-center gap-2 p-3 rounded"
          ><i class="fa-solid fa-user p-2 text-dark rounded shadow"></i
          >Profile</a
        >
        
      </nav>
      <footer class="foot">
        <a href="/auth/login" class="btn log_btn text-decoration-none text-white"
          >Log out</a
        >
      </footer>
    </div>
  </section>